.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  border: none;
  
}
#tweet-phrase {
  margin-top: 20px;
  display: flex;
  
}
#tweet-text {
  border: transparent;
  border-bottom: solid black;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
  outline: transparent
  
}

.redChar {
  color: red
}

.counter {
  font-family: "Bungee", sans-serif;
}